<%- include('partials/head') %>
<title><%= title %></title>
    <%- include('partials/navigation') %>
    <main class="d-flex flex-column justify-content-center align-items-center vh-100">
        
        <h1>Sobre mi</h1>
        <p class="text-center p-5 ">
            Hola, mi nombre es Adrián, soy un desarrollador Web con principal  interés en el área backend, hace mas de dos años que experimento con JavaScript y las tecnologías básicas en el desarrollo Web, HTML, CSS, últimamente con NodeJs, y SQL del lado del backend, aunque también he utilizado algo de ReactJs. 
            
            El objetivo que tengo ahora mismo es poder ganar mas experiencia creando proyectos y participando en voluntariados que me permitan crecer de manera profesional haciendo lo que me gusta. 
            
            Si te interesa saber un poco mas de mi o te gustaría expresarme alguna recomendación o presentarme algún proyecto que te gustaría crear, estoy a tus ordenes.
    </p>
    </main>
    
    <%- include('partials/footer') %>
</body>
</html>