<%- include('partials/head') %>
<title><%= title %></title>
    <%- include('partials/navigation') %>
    
    <main class="d-flex flex-column justify-content-center align-items-center vh-100">
        <h1>Contactame </h1>
        <form action="/form-request" method="post" class="w-50 m-5">
            <div class="mb-3">
                <label for="email" class="form-label">Correo</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="example@network.com">
              </div>
              <div class="mb-3">
                <label for="message" class="form-label">Mensaje</label>
                <textarea class="form-control" id="message" rows="3" name="message"></textarea>
              </div>
             
            <button class="btn btn-outline-primary">Enviar <i class="bi bi-send-fill"></i></button>
           
        </form>
    </main>
    <%- include('partials/footer') %>

</body>
</html>