<%- include('partials/head') %>
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/navigation') %>
    
    <main class="d-flex flex-column justify-content-center align-items-center vh-100">
        <div>
            <img class=" w-100 h-100 rounded-circle" src="/assets/logoA.png" alt="logo_png">
        </div>
        <a class="btn btn-outline-primary m-5" href="/about">Conocer mas</a>
    </main>
    <%- include('partials/footer') %>
</body>
</html>